<section id="about" class="">

  <h1 class="title about">ABOUT</h1>

  <div class="hr"></div>

  <p class="profile">Wearalab develops emerging and disruptive technologies for Consumer, Industrial, and Defense product markets. Our product development capabilities span the complete cycle from inspiration to production. Wearalab has strategically recruited an A-Team of top tech experts who are working at the vanguard of technology. We are a melting pot of revolutionary minds from across the world—minds solely focused on The Big Tomorrow. We conceive and produce technological solutions that meet and exceed the needs of first responders, modern industry, and the soldier of
    tomorrow.
  </p>

  <div class="team">

    <div class="person">

      <a href="https://twitter.com/farzinity"><img src="img/farzad.jpeg"/></a>

        <p><span>Farzad Nejat</span> | Founder</p>

    </div><!-- .person -->

  </div><!-- .team -->

</section>
