<section id="contact">
  <form method="POST" action="//formspree.io/jnholway@gmail.com">

    <div class="form-top">

      <h1 class="title contact">Get in touch</h1>

      <div class="hr"></div>

      </div>

      <div class="form-group">
        <input name="name" type="name" class="form-control name" placeholder="Name">
      </div>

      <div class="form-group">
        <input name="_replyto" type="email" class="form-control email" placeholder="Email">
      </div>

      <div class="form-group">
        <textarea name="message" class="form-control comment" placeholder="Question?" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-primary submit">SUBMIT</button>

    </form>

    <footer class="wrapper">
      <p>&copy; {{ site.time | date: "%Y" }} Wearalab.com, All Rights Reserved</p>
    </footer>


</section>
