@mobile: ~"only screen and (min-width: 0px)";
@tablet: ~"only screen and (min-width: 401px)";
@desktop: ~"only screen and (min-width: 900px)";
@big-desktop: ~"only screen and (min-width: 1280px)";
@mobile-landscape: ~"only screen and (max-height: 350px)";
